<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tengyue360.dao.SsAttachFilePathMapper">
  <resultMap id="BaseResultMap" type="com.tengyue360.bean.SsAttachFilePath">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="relation_id" jdbcType="VARCHAR" property="relationId" />
    <result column="attach_name" jdbcType="VARCHAR" property="attachName" />
    <result column="attach_type" jdbcType="VARCHAR" property="attachType" />
    <result column="attach_path" jdbcType="VARCHAR" property="attachPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>


  <sql id="Base_Column_List">
    id, relation_id, attach_name, attach_type, attach_path, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_attach_file_path
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ss_attach_file_path
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tengyue360.bean.SsAttachFilePath">
    insert into ss_attach_file_path (id, relation_id, attach_name, 
      attach_type, attach_path, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{relationId,jdbcType=VARCHAR}, #{attachName,jdbcType=VARCHAR}, 
      #{attachType,jdbcType=VARCHAR}, #{attachPath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tengyue360.bean.SsAttachFilePath">
    insert into ss_attach_file_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="attachName != null">
        attach_name,
      </if>
      <if test="attachType != null">
        attach_type,
      </if>
      <if test="attachPath != null">
        attach_path,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null">
        #{relationId,jdbcType=VARCHAR},
      </if>
      <if test="attachName != null">
        #{attachName,jdbcType=VARCHAR},
      </if>
      <if test="attachType != null">
        #{attachType,jdbcType=VARCHAR},
      </if>
      <if test="attachPath != null">
        #{attachPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tengyue360.bean.SsAttachFilePath">
    update ss_attach_file_path
    <set>
      <if test="relationId != null">
        relation_id = #{relationId,jdbcType=VARCHAR},
      </if>
      <if test="attachName != null">
        attach_name = #{attachName,jdbcType=VARCHAR},
      </if>
      <if test="attachType != null">
        attach_type = #{attachType,jdbcType=VARCHAR},
      </if>
      <if test="attachPath != null">
        attach_path = #{attachPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tengyue360.bean.SsAttachFilePath">
    update ss_attach_file_path
    set relation_id = #{relationId,jdbcType=VARCHAR},
      attach_name = #{attachName,jdbcType=VARCHAR},
      attach_type = #{attachType,jdbcType=VARCHAR},
      attach_path = #{attachPath,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>