<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tengyue360.dao.SsMqPushLogMapper">
  <resultMap id="BaseResultMap" type="com.tengyue360.bean.SsMqPushLog">
    <id column="message_id" jdbcType="INTEGER" property="messageId" />
    <result column="message_info" jdbcType="VARCHAR" property="messageInfo" />
    <result column="message_queue_name" jdbcType="CHAR" property="messageQueueName" />
    <result column="mmessge_type" jdbcType="VARCHAR" property="mmessgeType" />
    <result column="mq_status" jdbcType="INTEGER" property="mqStatus" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="accept_time" jdbcType="TIMESTAMP" property="acceptTime" />
  </resultMap>
  <sql id="Base_Column_List">
    message_id, message_info, message_queue_name, mmessge_type, mq_status, send_time, 
    accept_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_mq_push_log
    where message_id = #{messageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ss_mq_push_log
    where message_id = #{messageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tengyue360.bean.SsMqPushLog">
    insert into ss_mq_push_log (message_id, message_info, message_queue_name, 
      mmessge_type, mq_status, send_time, 
      accept_time)
    values (#{messageId,jdbcType=INTEGER}, #{messageInfo,jdbcType=VARCHAR}, #{messageQueueName,jdbcType=CHAR}, 
      #{mmessgeType,jdbcType=VARCHAR}, #{mqStatus,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{acceptTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tengyue360.bean.SsMqPushLog">
    insert into ss_mq_push_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        message_id,
      </if>
      <if test="messageInfo != null">
        message_info,
      </if>
      <if test="messageQueueName != null">
        message_queue_name,
      </if>
      <if test="mmessgeType != null">
        mmessge_type,
      </if>
      <if test="mqStatus != null">
        mq_status,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="acceptTime != null">
        accept_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="messageInfo != null">
        #{messageInfo,jdbcType=VARCHAR},
      </if>
      <if test="messageQueueName != null">
        #{messageQueueName,jdbcType=CHAR},
      </if>
      <if test="mmessgeType != null">
        #{mmessgeType,jdbcType=VARCHAR},
      </if>
      <if test="mqStatus != null">
        #{mqStatus,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptTime != null">
        #{acceptTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tengyue360.bean.SsMqPushLog">
    update ss_mq_push_log
    <set>
      <if test="messageInfo != null">
        message_info = #{messageInfo,jdbcType=VARCHAR},
      </if>
      <if test="messageQueueName != null">
        message_queue_name = #{messageQueueName,jdbcType=CHAR},
      </if>
      <if test="mmessgeType != null">
        mmessge_type = #{mmessgeType,jdbcType=VARCHAR},
      </if>
      <if test="mqStatus != null">
        mq_status = #{mqStatus,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptTime != null">
        accept_time = #{acceptTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tengyue360.bean.SsMqPushLog">
    update ss_mq_push_log
    set message_info = #{messageInfo,jdbcType=VARCHAR},
      message_queue_name = #{messageQueueName,jdbcType=CHAR},
      mmessge_type = #{mmessgeType,jdbcType=VARCHAR},
      mq_status = #{mqStatus,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      accept_time = #{acceptTime,jdbcType=TIMESTAMP}
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
</mapper>